*{
    padding: 0;
    margin: 0;
}
body{
    /* margin: 4rem ; */
  
}
.hide{
    display: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header{
    background-color: #eafaf1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    /* margin-bottom: 3rem; */
}
.header{
    width: 100%;
    max-width: 1200px;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-between;
    
}
.header-item{
    display: flex;
    gap: 30px;
}
.header-content{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.header-content>h1{
    font-size: 4.2rem;
}
.header-content>h2{
    font-size: 2.2rem;
}
.header-content>h3{
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 20px;
    background-color:rgb(18, 145, 223);
    box-shadow: 1px 1px 4px 1px;
    color: white;
    margin-bottom: 4rem;
}
main{
    /* max-width: 1200px;
margin: 0 auto; */
}
.main-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-content>div{
    flex: 1 1 400px;
    padding: 20px;
}
.main-content>div>h3{
    font-weight: bold;
    font-size: larger;
}
.main-content>div>p{
    opacity: .8;
    font-size: larger;
        padding: 10px 0;
}
.luffy{
    width: 40%;
    height: 60%;
}
.gr-1{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 50vh;
    flex-wrap: wrap;
    align-items: center;
}
.growth{
    background-color: #eafaf1;
    
}
.gr-1>h1{
    /* width: 250px; */
    /* flex: 1 1 200px; */
}
footer{
    /* max-width: 1200px;
    margin: 0 auto; */
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #eafaf1;
    gap:50px;
    /* height: 50vh; */
    justify-content: space-around;
    align-content: space-between;

}
.hoot-1{
    padding-top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    color: #eafaf1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;
}
.foot-1-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    /* width: 100%; */
}
.foot-1-2{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    color:green;
    font-weight: bolder;
}
.white{
    color: #eafaf1;
}
.foot-1-1>img{
    width: 150px;
}
.foot-1-1>p{
    background-color: green;
    padding: 15px;
    color: black;
    font-weight: bold;
}
.hoot-2{
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 1rem;
    position: relative;

}
footer * p:hover{
    color: #eafaf1;
    cursor: pointer;
}
@media(max-width:700px){
    .header-content{
        text-align: center;
    }
    .header-content>h1{ 
       font-size: 2.5rem;
    }
    .header-content>h2{
        font-size: 1.5rem;
    }
    .header-content>h3{
        font-size: 1.9rem;
    }
    .header-item{
        /* display: none; */
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 110px;
        background-color: lightgreen;
        width: 45%;
        height: 70vh;
        font-size: larger;
        align-items: center;
        padding-top: 2rem;
        border-radius: 10px;
        z-index: 1;
    }
    .hide{
        display: block;
    }
    .foot-1-2{
        gap: 1px;
    }
    .hoot-1{
        justify-content: center;
    }
    .gr-1{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .gr-1>img{
        width: 90%;
        border: 1px solid black;
        box-shadow: 2px 3px ;
    }
}